In [1]:
# import os

# os.environ['PYSPARK_SUBMIT_ARGS'] = '--driver-class-path /Users/deependrashekhawat/jars/postgresql-42.2.21.jar --jars /Users/deependrashekhawat/jars/postgresql-42.2.21.jar pyspark-shell'


# from pyspark import SparkContext, SparkConf

# conf = SparkConf()
# conf.setMaster("local[*]")
# conf.setAppName('pyspark')

# sc = SparkContext(conf=conf)
# print(sc.version)

# from pyspark.sql import SQLContext

# properties = {
#     "driver": "org.postgresql.Driver"
# }
# url = 'jdbc:postgresql://localhost:5434/postgres'

# sqlContext = SQLContext(sc)
# sqlContext.read \
#     .format("jdbc") \
#     .option("url", url) \
#     .option("driver", properties["driver"]) \
#     .option("dbtable", "student") \
#     .load()

3.1.2

DataFrame[id: int, name: string]

In [3]:
# df = sqlContext.read \
#     .format("jdbc") \
#     .option("url", url) \
#     .option("driver", properties["driver"]) \
#     .option("dbtable", "student") \
#     .load()
# df.show()

+---+----+
| id|name|
+---+----+
|  1|deep|
+---+----+

In [2]:
# sc.stop()

In [22]:
from pyspark.sql import SparkSession

# the Spark session should be instantiated as follows
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.jars", "/Users/deependrashekhawat/jars/postgresql-42.2.21.jar") \
    .getOrCreate()

In [23]:
jdbcDF2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://localhost:5432/hotel")\
    .option("dbtable", "guest") \
    .option("user", "postgres") \
    .option("password", "Welcome@1") \
    .option("driver", "org.postgresql.Driver") \
    .load()

In [24]:
jdbcDF2.show()

+-------+--------------------+--------------------+--------------------+---------------------+
|guestno|           guestname|        guestaddress|guestcityofresidance|gueststeteofresidance|
+-------+--------------------+--------------------+--------------------+---------------------+
|      1|       Odom, Paki D.|  1560 Fringilla St.|               Dover|             Delaware|
|      2|     Wilson, Paki U.|      6346 Ipsum St.|          South Bend|              Indiana|
|      3|  Newton, Shelley H.|  900-2226 Lorem Ave|                Mesa|              Arizona|
|      4|     Lang, Tashya H.|Ap #577-6930 Vari...|        Jacksonville|                   FL|
|      5|   Ramirez, Wynne I.|      6941 Elit, Rd.|           Cleveland|                 Ohio|
|      6|       Ray, Conan U.|      8480 Vel, Road|    West Valley City|                   UT|
|      7|   Jimenez, Jolie E.|  154-4388 Ipsum Av.|            Stamford|                   CT|
|      8|  Odonnell, Garth R.|    5804 Ante Street|          Chesapeake|             Virginia|
|      9|      Allen, Clio R.|     7726 Dui Avenue|        Fayetteville|             Arkansas|
|     10|        Pace, Ray E.| 211-9447 Tellus Rd.|           Baltimore|             Maryland|
|     11|Macdonald, Karina Z.| Ap #736-484 Et, Rd.|              Juneau|                   AK|
|     12|      Lewis, Eden X.|Ap #945-1150 Augu...|          Bridgeport|          Connecticut|
|     13|     Fields, Lani L.|P.O. Box 648, 141...|           Owensboro|                   KY|
|     14|    Holder, Brady J.| 3802 Adipiscing Av.|              Eugene|                   OR|
|     15|    Murray, Sasha E.|   247 Ridiculus Rd.|              Mobile|              Alabama|
|     16|   Warren, Quemby X.|P.O. Box 706, 326...|               Dover|                   DE|
|     17|   Meyers, Thomas U.|Ap #647-605 Tinci...|           Rockville|             Maryland|
|     18|  Hansen, Isadora I.|P.O. Box 792, 855...|              Kailua|                   HI|
|     19|      Golden, Rae B.|Ap #895-608 Sempe...|          Tuscaloosa|              Alabama|
|     20|Contreras, Oliver G.|P.O. Box 727, 608...|              Tucson|                   AZ|
+-------+--------------------+--------------------+--------------------+---------------------+
only showing top 20 rows

In [25]:
df = spark.read \
    .csv("/Users/deependrashekhawat/Documents/BU/Semesters/Sem3/Project/PostgreSQL_DB/MA.csv", header=True)

In [29]:
spark.stop()